@ -0,0 +1,42 @@
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('gra.jpg'); /* zmień 'tlo.jpg' na nazwę twojego pliku tła */
    background-size: cover;
}

header {
    background-color: #363b47;
    color: #ffffff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #363b47;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
